body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 30px;
    border-radius: 30px;
    width: 100%;
}

header{
    background: #f0b3ee;
    color: #120202;
    padding: 20px 0;
    text-align: center;
}

nav ul {
list-style: none;
padding: 0;
}

nav ul li{
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#about{
    padding: 20px;
    background: #f4f4f4;
}

#about h2{
    margin-top: 0;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project {
    width: 300px;
    padding: 10px;
    background: #fff;
    border: 1px solid darkgoldenrod;
    text-align: center;
}

.project img {
    max-width: 100%;
    height: auto;
}

.tabla{
    background-color: #fbb8f8;
}


#contact {
    padding: 10px;
    text-decoration: none;
}

.partefinal{
    background-color: rgb(232, 207, 211);
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
}

button{
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background-color: #e8a7d0;
    color: #f4f4f4;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor:pointer;
    font-size: 16px;
}


button:hover{
    background-color: #333;
}

form{
    display: flex;
    flex-direction: column;
}

form label{
    margin-bottom: 2px;
}

form input, form textarea{
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

form input[type="submit"]{
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

@media(max-width:  600px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .gallery{
        flex-direction: column;
        align-items: center;
    }
}

@media (hover: hover) {
    a:hover {
    background: rgb(230, 195, 228);
}
}


/*IMAGENES CORREDIZAS*/

@keyframes slide {
	0% { transform: translateX(0); }
	10% { transform: translateX(0); }

	15% { transform: translateX(-100%); }
	30% { transform: translateX(-100%); }

	35% { transform: translateX(-200%); }
	50% { transform: translateX(-200%); }

	55% { transform: translateX(-300%); }
	70% { transform: translateX(-300%); }

	75% { transform: translateX(-400%); }
	90% { transform: translateX(-400%); }

	95% { transform: translateX(-500%); }
	100% { transform: translateX(-500%); }
}

* { box-sizing: border-box; }

html { scroll-behavior: smooth; }


.wrapper {
	max-width: 1300px;
	margin: 0 auto;
}

.slider {
	position: relative;
}

.slides {
	position: relative;
	display: flex;
	overflow: hidden;
}

.slide {
	width: 100vw;
	flex-shrink: 0;
	animation-name: slide;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

/*.slides:hover .slide {
	animation-play-state: paused;
}*/

.slide img {
	width: 100%;
	vertical-align: top;
}

.slide a {
	width: 100%;
	display: inline-block;
	position: relative;
}

.caption {
	color: white;
	text-shadow: 1px 1px black;
	font-size: 10px;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	position: absolute;
	bottom: 8vw;
	right: 4vw;
}

.slide:target {
	animation-name: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}

.slider-controler {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 5px;
	/*background-color: rgba(0,0,0,0.5);*/
	z-index: 100;
}

.slider-controler li {
	margin: 0 0.5rem;
	display: inline-block;
	vertical-align: top;
}

.slider-controler a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}

@media only screen and (min-width: 600px) {
	.slide {
		width: 600px;
	}

	.caption {
		font-size: 96px;
		bottom: 96px;
		right: 50px;
	}
}

.social-media {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-media a {
    color: #000000;
    text-decoration: none;}

.TITULOPRINCIPAL{
    .poetsen-one-regular {
        font-family: "Poetsen One", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}